<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Используем уведомления для напоминания о завершении тренировки</string>
	<key>CFBundleDisplayName</key>
	<string>🐸 спортсмены</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Используем галерею для аватров пользователей</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>audio</string>
	</array>
</dict>
</plist>
